/* Variables */

/* Utilities*/

/* App specific rules */
*{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
}

#map{
    height: 100vh;
}

#map-2 {
    height: 100vh;
}