/* Variables */

/* Utilities*/

/* App specific rules */
*{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
}

#map{
    min-height: 400px;
    height: 80vh;
    min-width: 600px;
    width: 100vw;
}

#map2, #map3{
    min-height: 400px;
    height: 60vh;
    min-width: 400px;
    width: 60vh;
}
